<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/services.png');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                
                <div class="name">
                    <h2 class="title">Services<br /></h2>
                    <!--h6 class="description">Evelyn's Exclusive Rentals LLC</h6-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Below is a list of the people and organizations that we have specifically design our products and services for:
                    </p>
                    <br />
                    
                    <br />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-bold">Households/Families</li>
                        <li class="list-group-item">Sport Organizations</li>
                        <li class="list-group-item">Corporate Organizations</li>
                        <li class="list-group-item">Weddings/ Birthdays Parties</li>
                        <li class="list-group-item">Religious Organizations</li>
                      </ul>

                      <br />
                      <p>We are gladly to provide and exclusive and personalize service for your event.
                    </p>
                </div>
            </div>
            <br/>
            
        </div>

        
    </div>
</div>


