<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/about-us.png');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/profile.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h2 class="title">About us<br /></h2>
                    <h6 class="description">Evelyn's Exclusive Rentals LLC</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>We are family business oriented to offer and exclusive services to our clientele, we are a party supply rental company that will be involved in renting out tables, chairs, flatware, linens, centerpieces. stages, tents, canopies, public address system. red carpet, drums, plates, glasses, cutleries and other items for public and private parties and events such as weddings, birthday parties, corporate events and other event rentals.
                    </p>
                    <br />
                    <p>  We will make sure that your event has the best and comfortable rental supplies for make you event
                        memorable.
                         </p>
                    <br />
                    
                </div>
            </div>
            <br/>
            
        </div>

        <div class="container">
            <div class="owner">
                
                <div class="name">
                    <h2 class="title">Vision<br /></h2>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Our vision is to serve small to large sized business, and individual clients, that wants a memorable and exclusive services from our company every time of the year.
                    </p>
                    
                   
                </div>
            </div>
            <br/>
            
        </div>
    </div>
</div>

