<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container-fluid">
        <!--div class="navbar-nav"-->
            
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
           </button>
        <!--/div-->
        
                <a [routerLink]="['/home']" class="navbar-brand" rel="tooltip" title="home page" data-placement="bottom">Evelyn's Home<span class="sr-only">(current)</span></a>
           
                <a [routerLink]="['/home']" class="navbar-brand" rel="tooltip" title="All about us" data-placement="bottom">About us</a>
          
        
        
        <div class="navbar-collapse" id="navbarToggler">
            
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/people/Evelyn-Exclusive-Rentals/100064390590542/" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/evelynexclusiverentals" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Contact us on Whatsapp" data-placement="bottom" 
                    href="https://api.whatsapp.com/send?phone=573116444631&text=Hola!%20Quiero%20hacer%20una%20consulta" target="_blank">
                        <i class="fa fa-whatsapp"></i>
                        <p class="d-lg-none">Whatsapp</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
