<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/logo-background.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="felipa-regular">Evelyn's exclusive rentals</h1>
            <!--a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button-->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Chek out our services</h2>
                <h5 class="description">we want you to feel secure in any kind of events:</h5>
                <!--br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a-->
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="icon icon-danger">
                        <img src="./assets/img/deco-icon.png" style="width:100px;height:100px;">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Decorations</h4>
                        <p class="description">We are experts on all kind of event from birthday to wedding, only because we care about you</p>
                        <!--a href="#pkp" class="btn btn-link btn-danger">See more</a-->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info">
                    <div class="icon icon-danger">
                        <img src="./assets/img/chair-icon.png" style="width:100px;height:100px;">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Rental</h4>
                        <p class="description">We also have all the elements need for an special event with all the quility standars like tables, chairs and more...</p>
                        <!--a href="#pkp" class="btn btn-link btn-danger">See more</a-->
                    </div>
                </div>
            </div>
            
            
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Meet our Gallery</h2>
        
        <div class="card page-carousel">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="./assets/img/event1.png" alt="Photo events 2">
                    
                </ng-template>
                <ng-template ngbSlide>
                    <img src="./assets/img/event3.png" alt="Photo events 2">
                    
                </ng-template>
                <ng-template ngbSlide>
                    <img src="./assets/img/event4.png" alt="Photo events 3">
                    
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Contact us!</h2>
                    <br><br>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <img src="./assets/img/logo.png" class="card-img" alt="profile">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold;">Evelyn and Luis Coneo</h5>
                              <!--p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p-->
                              <p class="card-text"><small class="text-muted" style="font-weight: bold;">Email address: <a href="mailto:evelynconeo68@gmail.com">evelynconeo68&#64;gmail.com</a></small></p>
                              <p class="card-text"><small class="text-muted" style="font-weight: bold;">Phone number: 732-347-9147 </small></p>
                              <p class="card-text"><small class="text-muted" style="font-weight: bold;">Phone number 2: 732-762-1854 </small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                 </div>
            </div>
        </div>
    </div>

    <div class="section section-navbars">
       
        <div id="navbar">
            
            <div class="navigation-example">
                
                
                
                
               
                <nav class="navbar navbar-expand-lg navbar-transparent">
                    <div class="container">
                        <a class="navbar-brand" href="#">Follow us!</a>
                        <a class="navbar-brand" href="#"><i class="fa fa-facebook-official" aria-hidden="false"></i> Facebook</a>
                        <a class="navbar-brand" href="https://api.whatsapp.com/send?phone=573116444631&text=Hola!%20Quiero%20hacer%20una%20consulta" 
                                    target="_blank"><i class="fa fa fa-whatsapp" aria-hidden="false"></i> Whatsapp</a>
                                    <a class="navbar-brand" href="#"><i class="fa fa-instagram" aria-hidden="false"></i> Instagram</a>
                        <!--button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                        </button>
                        <div class="collapse" id="navbar-transparent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="false"></i> Facebook</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://api.whatsapp.com/send?phone=573116444631&text=Hola!%20Quiero%20hacer%20una%20consulta" 
                                    target="_blank"><i class="fa fa fa-whatsapp" aria-hidden="false"></i> Whatsapp</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="false"></i> Instagram</a>
                                </li>
                            </ul>
                        </div-->
                    </div>
                </nav>


            </div>
        </div>
    </div>
    
    

</div>
