<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <!--ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul-->
                <ul>
                    <li>Phoene numbers:</li>
                    <li>(732)347-9147 - (732)762-1854</li>
                    
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Copyright Evelyn's Exclusive Rentals, LLC   </span>
            </div>
        </div>
    </div>
</footer>
