<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']" class="navbar-brand" rel="tooltip" title="home page" data-placement="bottom">Home<span class="sr-only">(current)</span></a></li>
                    
                    <li><a [routerLink]="['/home']" class="navbar-brand" rel="tooltip" title="All about us" data-placement="bottom">About us</a></li>
                </ul>
               
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Copyright Evelyn's Exclusive Rentals, LLC   </span>
            </div>
        </div>
    </div>
</footer>
